pyusb==1.3.1
libusb-package==1.0.26.3
cryptography>=45.0.0,<47
av>=18.0.0,<19
pillow>=12.0.0,<13
psutil>=7.0.0,<8
winrt-runtime==3.2.1
winrt-Windows.Devices.Bluetooth==3.2.1
winrt-Windows.Devices.Bluetooth.Advertisement==3.2.1
winrt-Windows.Devices.Bluetooth.GenericAttributeProfile==3.2.1
winrt-Windows.Devices.Enumeration==3.2.1
winrt-Windows.Devices.Radios==3.2.1
winrt-Windows.Devices.WiFiDirect==3.2.1
winrt-Windows.Foundation==3.2.1
winrt-Windows.Foundation.Collections==3.2.1
winrt-Windows.Networking==3.2.1
winrt-Windows.Networking.Connectivity==3.2.1
winrt-Windows.Networking.NetworkOperators==3.2.1
winrt-Windows.Security.Credentials==3.2.1
winrt-Windows.Storage.Streams==3.2.1
